apiVersion: v1
kind: Service
metadata:
  name: {{ include "temp.fullname" . }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "temp.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: {{ .Values.app.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "temp.selectorLabels" . | nindent 4 }}
