global:
  namespace: django-app

image:
  # Внутренний адрес для Kubernetes (полное DNS‑имя сервиса реестра в namespace registry)
  repository: "private-registry-docker-registry.registry.svc.cluster.local:5000/django-app"
  tag: "latest"
  pullPolicy: Always

app:
  replicas: 2
  port: 8000
  env:
    DEBUG: "False"
    ALLOWED_HOSTS: "*"

ingress:
  enabled: true
  hosts:
    - host: django.local
      paths:
        - path: /
          pathType: Prefix

postgresql:
  enabled: true
  image:
    tag: "latest"
  auth:
    database: "django_app"
    username: "django_user"
    password: "postgres_password_123"
  primary:
    persistence:
      enabled: true
      size: 1Gi

monitoring:
  enabled: true
