name: Deploy Django App (Lab 4)

on:
  push:
    branches: [ main ]

env:
  # Адрес для пуша с хост-машины (через /etc/hosts)
  PUSH_REGISTRY: "registry.local:5000"
  IMAGE_NAME: "django-app"
  K8S_NAMESPACE: "django-app"
  HELM_RELEASE: "django-app-prod"

jobs:
  build-push-deploy:
    runs-on: self-hosted # Запуск на вашем Mac
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Тегируем для registry.local
          tags: ${{ env.PUSH_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          # Важно для совместимости с Minikube на M1 (избегает проблем с архитектурой)
          platforms: linux/arm64

      - name: Deploy with Helm
        run: |
          # 1. Создаем namespace если нет
          kubectl create namespace ${{ env.K8S_NAMESPACE }} --dry-run=client -o yaml | kubectl apply -f -
          
          # 2. Обновляем зависимости чарта (скачиваем Postgres)
          helm dependency update ./django-app-chart

          # 3. Деплой / Обновление
          # Обратите внимание: мы не меняем image.repository здесь, 
          # так как в values.yaml уже прописан правильный ВНУТРЕННИЙ адрес для K8s.
          
          helm upgrade --install ${{ env.HELM_RELEASE }} ./django-app-chart \
            --namespace ${{ env.K8S_NAMESPACE }} \
            --set image.tag=latest \
            --wait --timeout 300s

      - name: Run Migrations
        run: |
           # Ищем под по лейблам
           POD=$(kubectl get pod -n ${{ env.K8S_NAMESPACE }} -l app.kubernetes.io/name=django-app -o jsonpath="{.items[0].metadata.name}")
           
           # Запускаем миграции
           kubectl exec -n ${{ env.K8S_NAMESPACE }} $POD -- python manage.py migrate
